/* burger icon */

.line1-active {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: transform .5s;
  }
 
.line1-inactive {
    transform: rotate(0deg) translate(0);
    transition: transform .5s;

    }   
.line2-active {
    opacity: 0;   
    transition: transform .8s;

    }

.line2-inactive {
    opacity: 1;
    transition: transform .8s;

    }

.line3-active {
   transform: rotate(45deg) translate(-5px, -6px);
   transition: transform .5s;

 }

.line3-inactive {
   transform: rotate(0deg) translate(0);
   transition: transform .5s;

 }

 /* nav overlay */
.nav-overlay-hidden {
    opacity: 0;
    transform: translateX(100%);
    transition: transform .5s var(--bezier) .5s, opacity .5s var(--bezier);
    }

.nav-overlay-active {
    transform: translateX(0%);
    transition: transform .05s, opacity .5s var(--bezier);
    } 


/* nav menu */
.nav-hidden {
    transform: translateX(100%);
    transition: transform .5s var(--bezier);
   }
  
.nav-active {
     transform: translateX(0%);
     transition: var(--main-transition);
   }
  


@media only screen and (min-width: 700px) {
    .nav-hidden, .nav-active {
        transform: translateX(0%);
      }
  
}


@media only screen and (max-height: 849px) and (min-width: 1030px) {
.pc-photo {
    transition: var(--main-transition);

}

.pc-photo:hover {
    transform: var(--hover-move-up);
  }


  .soc-icons {
      transition: var(--main-transition);
  }

  .soc-icons:hover {
      transform: var(--hover-move-up);
  }

  .faux-button, .resume-btn {
      transition: background-color .5s var(--bezier);
  }

  .faux-button:hover, .resume-btn:hover {
      background-color: var(--hover-background);
  }
}


@media only screen and (min-height: 850px) and (min-width: 1030px) {
    .pc-photo {
        transition: var(--main-transition);

    }
    .pc-photo:hover {
        transform: var(--hover-move-up);
    }

      .soc-icons {
        transition: var(--main-transition);
    }
  
    .soc-icons:hover {
        transform: var(--hover-move-up);
    }

    .faux-button, .resume-btn {
        transition: background-color .5s var(--bezier);
    }
  
    .faux-button:hover, .resume-btn:hover {
        background-color: var(--hover-background);
    }
  
}



    

 