/* colors
 #0A0A0A - off black - background
 #1F1F1F - light black, burger menu
 #FBFFFE - off white - main text
 #8C8A93 - medium gray - secondary text
 #3C3B40 - dark gray - overlay
 #E58C8A - pink - accents
 #e58c8ad5 - pink but softer
 */

 @import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins:wght@300&display=swap');

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 *:focus {
   outline: none;
 }

 a {
   text-decoration: none;
   color: #FBFFFE;
 }

 body {
   background-color: #0A0A0A;
   overflow: hidden;
 }

 #root {
   width: 100%;
   overflow-x: hidden;
   scroll-snap-type: y mandatory;
   background-color: #0A0A0A;
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 h1 {
  color: #FBFFFE;
  font-family: "poppins";
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  color: #E58C8A;
  font-weight: bold;
  font-family: "poppins";
  font-size: 1.25em;
}

h3 {
  color: #8C8A93;
  font-size: 1.25em;
  padding-bottom: 10px;
}

/* Modal styles */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(60, 59, 64, .7);
}

.Modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #0A0A0A;
  top: 15%;
  bottom: 15%;
  left: 5%;
  right: 5%;
  border-radius: 3px;
  font-family: "poppins";
  color: #FBFFFE;
}

/* banner, burger icon and animation */

.toolbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10vh;
  }

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;;
  width: 50px;
  z-index: 1;
}

 .burger-icon {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: absolute;
   top: 20px;
   right: 10px;
   height: 30px;
   width: 30px;
   z-index: 10;
   cursor: pointer;
 }

 .line1 {
   margin: 2.5px;
   background-color: #E58C8A;
   height: 3px;
   width: 25px;
 }

 .line1-active {
   transform: rotate(-45deg) translate(-5px, 6px);
   transition: transform .5s;
 }

 .line1-inactive {
    transform: rotate(0deg) translate(0);
    transition: transform .5s;

 }

 .line2 {
   margin: 2.5px;
   background-color: #E58C8A;
   width: 25px;
   height: 3px;
 }

 .line2-active {
   opacity: 0;   
   transition: transform .8s;

 }

 .line2-inactive {
   opacity: 1;
   transition: transform .8s;

 }

 .line3 {
   margin: 2.5px;
   background-color: #E58C8A;
   width: 25px;
   height: 3px;
 }

 .line3-active {
   transform: rotate(45deg) translate(-5px, -6px);
   transition: transform .5s;

 }

 .line3-inactive {
   transform: rotate(0deg) translate(0);
   transition: transform .5s;

 }


 
/* nav overlay and transitions */

 .nav-overlay {
   display: block;
   position: fixed;
   bottom: 0;
   top: 0;
   overflow: hidden;
   width: 100vw;
   background-color: rgba(60, 59, 64, .7);


 }

 .nav-overlay-hidden {
  opacity: 0;
  transform: translateX(100%);
  transition: transform .5s ease-in-out .5s, opacity .5s ease-out;
}

.nav-overlay-active {
  transform: translateX(0%);
  transition: transform .05s, opacity .5s ease-in;
} 

/* nav menu container and transitions */


.nav {
  width: 100vw;
  display: flex;
  position: absolute;
  overflow: hidden;
  z-index: 3;
}

 .nav-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #1F1F1F;
   position: fixed;
   top: 0px;
   right: 0;
   left: 35%;
   bottom: 0px;
   font-family: "poppins";
   letter-spacing: 5px;
   }


 .nav-hidden {
  transform: translateX(100%);
  transition: transform .5s ease-in;
 }

 .nav-active {
   transform: translateX(0%);
   transition: transform .5s ease-in;
 }


 .nav-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 20%;
  justify-content: space-around;
  font-size: 1.5em;
 }

 /* component styles */



 .component-title {
   padding: 25px 10px 20px 10px;
 }

 .component-body {
   position: relative;
   display: flex;
   flex-direction: column;
   margin: 10px 20px 10px 20px;
   padding-bottom: 50px;
   height: 80%;
   color: #FBFFFE;
   font-family: "poppins";
 }

 .app-content {
   height: 100vh;
   width: 100vw;
   z-index: 0;
   }

  .home-button-cont {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .faux-button {
    padding: 10px;
    color: #E58C8A;
    font-family: "poppins";
    font-weight: bold;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid #E58C8A;
    border-radius: 3px;
    text-align: center;
    line-height: 1.6;

  }
   .btn-home-page {
     height: 50px;
     width: 150px;
   }

  /* .underline-text::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 2.5px;
    transform: translateY(450%);
    background: #E58C8A;
    z-index: -1;
  } */

/* home styles */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  scroll-snap-align: start;
}

.home-text {
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 20px;
}

.desktop-photo-container {
  display: none;
}

.greeting {
  text-align: center;
  font-family: "poppins";
  color: #E58C8A;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

.name {
  text-align: center;
  font-family: "kalam";
  font-weight: bold;
  font-size: 3.9em;
  color: #FBFFFE;
  letter-spacing: 1px;
}

.intro-one-liner {
  text-align: center;
  font-family: "poppins";
  font-weight: bold;
  color: #8C8A93;
  padding-bottom: 75px;
  letter-spacing: 1px;
  font-size: 1em;
}

.intro-p {
  font-family: "poppins";
  color: #FBFFFE;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 1em;
}

/* skills styles */
.skills {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  scroll-snap-align: start;
}

#skills-body {
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 40px;
  padding-bottom: 20px;
}

.skills-cont {
  width: 100%;
}

.tech-skills-cont {
  text-align: left;
  margin-bottom: 35px;
}

.certs-cont {
  display: none;
}

.explainer {
  font-size: .75em;
  color: #8C8A93;
}

.skills-list {
  padding-top: 10px;
  line-height: 1.5;
}

.resume-btn {
  position: absolute;
  top: -55px;
  left: 25%;
  width: 50%;
  height: 50px;
  color: #E58C8A;  
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
}



/* work styles */
.work {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  scroll-snap-align: start;
}

/* about styles */

.about {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  scroll-snap-align: start;
  font-family: "poppins";
  font-size: 1em;

}

.about-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: flex-start;
  height: 63%;
  width: 99%;
  color: #FBFFFE;
  letter-spacing: .5px;
  line-height: 1.5;
  text-align: left;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.about-section {

  margin-right: 250px;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}

.mobile-photo-link {
  position: absolute;
  width: 90%;
  bottom: 18%;
  left: 5%;
}

.photo-carousel {
  display: none;
}

.swipe, .swipe-txt {
  color: #8C8A93;
  text-align: center;
}

.photo-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.photo-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #E58C8A;
  height: 50%;
  margin: 20px 10px 20px 10px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.photo {
  height: 100%;
  width: 100%;
  margin-right: 200px;
  background-color: yellow;
  scroll-snap-align: start;
}

.photo-modal-text {
  text-align: center;
}


/* contact styles */

.contact {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  scroll-snap-align: start;
  overflow-y: hidden;
}

.icon-set {
  display: none;
}

.icon-set-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin-top: 15%;
}

.soc-icons-mobile {
  height: 50px;
  margin: 10px;
}



@media only screen and (max-width: 321px) {

  h1 {
    font-size: 1.5em;
  }
  .name {
    font-size: 3.5em;
    letter-spacing: 0;
  }

  .intro-one-liner {
    padding-bottom: 30px;
  }

  .home-text {
    height: auto;
  }

  .intro-p {
    font-size: 1em;
    padding-bottom: 25px;
  }

  .faux-button {
    width: 120px;
    font-size: .9em;
  }

  .mobile-photo-link {
    width: 90%;
  }

  .about-text {
    font-size: .85em;
  }

  .skills-cont {
    font-size: .85em;
  }

  .resume-btn {
    font-weight: regular;
    width: 60%;
    left: 20%;    
  }


}

