@media only screen and (min-width: 700px) {

  /* Modal */

  .Modal {
    top: 35%;
    bottom: 40%;
    left: 20%;
    right: 20%;
  }
    
    /* nav */
    .burger-icon {
      display: none;
    }
  
    .toolbar {
      height: 10vh;
      background-color: var(--black);
    }
  
    .nav-container {
      width: 100%;
      height: 10vh;
      flex-direction: row;
      justify-content: flex-end;
      left: 0;
      background: transparent;
    }
  
    nav.menu {
      flex-direction: row;
      float: right;
      height: 10vh;
      margin: 0;
      width: 60%;
      font-size: 1.25em;
    }
  
  
    .nav-overlay {
      display: none;
    }
  
    .banner-container {
      width: 50%;
    }
  
    header .logo {
      align-self: center;
      height: 50px;
      width: 50px;
      top: 20px;
      left: 20px;
    }
  
    /* components */
  
    .component .body {
      margin: 50px;
    }

    h3 {
        color: #8C8A93;
        padding-bottom: 10px;
      }
  
    /* home page styles */
    #home {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: wrap;
    }
  
    #home #text {
      margin-left: 50px;
      justify-content: flex-start;
      margin-top: 50px;
      width: 50%;
      height: auto;
      padding: 0;
    }
  
    .greeting, .name, .intro-one-liner  {
      text-align: left;
    }
  
    .greeting {
      font-size: 1em;
      padding-bottom: 50px;
    }
  
    .name {
      font-size: 4.5em;
      line-height: .75;
  
  
    }
  
    .intro-one-liner {
      flex-direction: row;
      font-size: 2em;
      padding-bottom: 90px;
    }
  
    p.intro {
      font-size: 1.25em;
      text-align: left;
    }
  
    #home .button-cont {
      width: 60%;
      justify-self: center;
    }
  
    .desktop-photo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      margin-right: 50px;
      width: 30%;
      height: 50%;
      z-index: 1;
    }
  
    .photo-dummy {
        position: relative;
        height: 275px;
        width: 225px;
        background-color:rgba(60, 59, 64, 1);
        border: none;
        /* box-shadow: 20px 20px var(--pink); */
    }

    .photo-dummy::before {
      content: ' ';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 10%;
      top: 12.5%;
      background: var(--gradient);
      z-index: -1;
    }
  
    /* about styles */
    #about #text {
      font-size: 1.25em;
    }
  
    #about #text {
        height: 50%;
    }

    .photo-carousel {
      display: none;
    }

    .mobile-photo-link {
      width: 50%;
      left: 25%;
    }

    .swipe, .swipe-txt {
        font-size: 1.1em;
    }

    /* skills styles */

    #skills-body {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      height: 60%;
      margin-top: 75px;
      font-size: 1.25em;
    }

    .list-cont {
      text-align: left;
      width: 50%;
    }

    ul.skills {
      text-align: left;
    }

    .certs-cont {
      display: flex;
      width: 100%;
      text-align: center;
    }

    a.resume {
      position: relative;
      left: 0;
      width: 30%;
      margin-top: 100px;
      font-size: 1em;
      text-decoration: none;
      border: var(--bord-pnk);
    }


    /* work styles */

    #work #left {
      justify-content: space-around;
    }

    .proj-details {
      justify-content: space-around;
    }
    /* contact styles */

    .icon-set-mobile {
      display: none;
    }

    .icon-set {
      display: flex;
      flex-direction: row;
      position: fixed;
      right: 25px;
      bottom: 25px;
  
    }
    
    .soc-icons {
      height: 40px;
      width: 40px;
      margin: 10px;
    }

    #contact-body {
      flex-direction: column;
      font-size: 1.5em;
    }

    ul.contact {
      margin: 50px 0 50px 0;
    }

    .reach-out-mobile {
      display: none;
    }

    .reach-out {
      display: block;
    }

  }
  
  @media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  
    nav.menu{
      font-size: 1.5em;
  
    }

     /* home styles */
    .greeting {
      font-size: 1.25em;
      padding-bottom: 75px;
    }
  
    .name {
      font-size: 5.5em;
      line-height: .75;
  
  
    }
  
    .intro-one-liner {
      font-size: 2em;
      padding-bottom: 90px;
    }
  
    p.intro {
      font-size: 1.25em;
    }
  
    .desktop-photo-container {
      width: 35%;
    }

    /* about styles */
  
    .component .body {
        flex-direction: column;
    }
    #about-body {
      width: 100%;
    }

    #about #text {
      height: 50%;
    }
  
    #s4 { padding: 0;}

    .swipe {
      width: 100%;
    }
  
    .mobile-photo-link {
      display: none;
    }
  
    .photo-carousel {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 40%;
      margin: 10px
    }

    .carousel {
      flex-direction: row;
      align-items: center;
      justify-items: space-around;
      height: 100%;
      width: 100%;
    }

    .photo {
      object-fit: contain;
    }

    .tier1, .tier2 {
      width: 50%;
    }
    .tier2 {
      display: flex;
    }
  
    .img-cont {
      display: flex;
      justify-content: space-around;
      height: 40%;
      width: 50%;
      padding-left: 10px;
    }
    
    #skills-body {
      font-size: 1.4em;
    }

    .icon-set {
      display: flex;
      position: fixed;
      right: 20px;
      bottom: 20px;
    }
    
    .soc-icons {
      height: 40px;
      margin: 10px;
    }



    .proj-details {
      height: 300px;
    }

  }

  