:root {
    /* colors */
    --black: #0A0A0A;
    --lighter-black: #1F1F1F;
    --white: #FBFFFE;
    --med-gray: #9B9AA2;
    --pink: #E58C8A;
    --overlay-gray: rgba(60, 59, 64, .7);
    --gradient: linear-gradient(to right, #E58C8A, #FBFFFE );
    --bord-pnk: 2px solid var(--pink);
    --radius: 3px;
    --main-font: "poppins";
    --script-font: "kalam";
}

